<template>
  <b-form-select
  id="discount_mode"
  v-model="selected"
  ref="discountMode"
  name="discount_mode"
  :disabled="disabled"
  :options="list"></b-form-select>
</template>
<script>
export default {
  name: "discount-mode",
  props: {
    value: {
      type: String,
      default: 'v'
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      selected: this.value,
      list: [
        {text: '<', value: '<'},
        {text: '=', value: '='},
        {text: '>', value: '>'},
      ]
    };
  },
  watch: {
    selected(nv, ov) {
      this.$emit('input', this.selected)
    }
  }
}
</script>
