<template>
  <b-form-select
    id="discount_type"
    ref="discountType"
    v-model="selected"
    name="discount_type"
    :disabled="disabled"
    :options="list"></b-form-select>
</template>
<script>
export default {
  name: "discount-type",
  props: {
    value: {
      type: String,
      default: '%'
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      selected: this.value,
      list: [
        {text: '%', value: '%'},
        {text: '€', value: '€'},
      ]
    };
  },
  watch: {
    selected(nv, ov) {
      this.$emit('input', this.selected)
    }
  }
}
</script>
