<template>
  <div>
    <a href="#" v-b-modal="'editline-' + lineid" :id="'btn-editline-' + lineid">Modifier</a>

    <b-popover
    :target="'btn-editline-' + lineid"
    triggers="hover"
    :delay="{ show: 800, hide: 100 }">
      Modifier la ligne
    </b-popover>

    <b-modal :id="'editline-' + lineid"
    ref="editline"
    title="Ajouter une ligne"
    size="lg"
    centered
    @hidden="resetModal"
    @ok="onEdit"
    >
    <form-line v-model="editline"></form-line>
  </b-modal>
  </div>
</template>

<script>
import formLine from './form'

export default {
  name: "edit-invoice-line",
  components: {
    formLine,
  },
  props: {
    dataline: {
      required: true,
      type: [Object, Array],
    },
  },
  data() {
    return {
      editline: {
        date: this.dataline.date,
        // isCharged: this.dataline.isCharged,
        description: this.dataline.description,
        quatity: this.dataline.quatity,
        unitPrice: this.dataline.unit_price,
        discountType: this.dataline.discount_type,
        discountMode: this.dataline.discount_mode,
        discount: this.dataline.discount,
        // isTaxable: this.dataline.isTaxable,
        // taxesIncluded: this.dataline.taxes_included,
        // taxe: this.dataline.taxe,
        subTotal: this.dataline.sub_total,
      },
      lineid: this.dataline.id
    };
  },
  methods: {
    resetModal() {
      this.editline.date = this.dataline.date;
      // this.editline.isCharged = this.dataline.isCharged;
      this.editline.description = this.dataline.description;
      this.editline.quatity = this.dataline.quatity;
      this.editline.unitPrice = this.dataline.unit_price;
      this.editline.discountType = this.dataline.discount_type;
      this.editline.discountMode = this.dataline.discount_mode;
      this.editline.discount = this.dataline.discount;
      // this.editline.isTaxable = this.dataline.isTaxable;
      // this.editline.taxesIncluded = this.dataline.taxes_included;
      // this.editline.taxe = this.dataline.taxe;
      this.editline.subTotal = this.dataline.sub_total;
    },
    onEdit(bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault();
      axios.put('/invoice/line/' + this.lineid, this.editline).then(response => {
        this.$nextTick(() => {
          this.$refs.editline.hide()
          // this.$bvToast.toast('Ligne modifer', {
          //   title: 'Succès',
          //   autoHideDelay: 1000,
          //   appendToast: false,
          //   variant: 'success',
          //   solid: true
          // });
        });
        this.$emit('send');
      }).catch(error => {
        return
      });
    },
  }
}
</script>
