<template>
  <b-form-group>
    <b-input-group>
      <b-form-group label="Date" class="mr-3" for="date">
        <!-- <b-form-input type="date" name="date" id="date" :value="lineDate" v-model="formline.date" @change="test($event)"></b-form-input> -->
        <b-form-datepicker id="date" name="date" v-model="formline.date"></b-form-datepicker>
      </b-form-group>
      <!-- <b-form-group label="Facturé ?" for="isCharged">
        <b-form-checkbox name="isCharged" id="isCharged"  v-model="formline.isCharged"></b-form-checkbox>
      </b-form-group> -->
    </b-input-group>
    <b-input-group>
      <b-form-group label="Prix unitaire" class="mr-3" for="unit_price">
        <b-form-input type="number" name="unit_price" id="unit_price" v-model="formline.unitPrice" step="0.01" trim></b-form-input>
      </b-form-group>
      <b-form-group label="Quantité" for="quatity">
        <b-form-input type="number" step="any" name="quatity" id="quatity" v-model="formline.quatity"></b-form-input>
      </b-form-group>
    </b-input-group>
    <b-input-group>
      <b-form-group label="Type d'escompte" class="mr-3" for="discount_type">
        <discount-type v-model="formline.discountType"></discount-type>
      </b-form-group>
      <b-form-group label="Mode d'escompte" class="mr-3" for="discount_mode">
        <discount-mode v-model="formline.discountMode"></discount-mode>
      </b-form-group>
      <b-form-group label="Escompte" for="discount">
        <b-form-input type="number" name="discount" id="discount" v-model="formline.discount" step="0.01" trim></b-form-input>
      </b-form-group>
    </b-input-group>
    <!-- <b-input-group>
      <b-form-group label="Taxable ?" class="mr-3" for="isTaxable">
        <b-form-checkbox name="isTaxable" id="isTaxable" v-model="formline.isTaxable"></b-form-checkbox>
      </b-form-group>
      <b-form-group label="Taxes incluses ?" class="mr-3" for="taxes_included">
        <b-form-checkbox name="taxes_included" id="taxes_included" v-model="formline.taxesIncluded" :disabled="!formline.isTaxable"></b-form-checkbox>
      </b-form-group>
      <b-form-group label="Taxe" for="taxe">
        <b-form-input type="number" name="taxe" id="taxe" v-model="formline.taxe" :disabled="!formline.isTaxable"></b-form-input>
      </b-form-group>
    </b-input-group> -->
    <b-input-group>
      <b-form-group label="Description" for="description" class="w-100">
        <b-form-input type="text" name="description" id="description" v-model="formline.description" step="0.01"></b-form-input>
      </b-form-group>
    </b-input-group>
    <b-input-group>
      <b-form-group label="Sous-total" for="sub_total">
        <h3>{{ formline.subTotal }} €</h3>
      </b-form-group>
    </b-input-group>
  </b-form-group>
</template>
<script>
import discountType from '@/components/discount/type'
import discountMode from '@/components/discount/mode'

export default {
  name: 'form-invoice-line',
  props: {
    value: {
      type: Object,
      required: true
    }
  },
  components: {
    discountType,
    discountMode
  },
  data() {
    return {
      formline: this.value
    };
  },
  watch: {
    'formline.quatity'() {
      this.newSubTotal()
    },
    'formline.unitPrice'() {
      this.newSubTotal()
    },
    formline() {
      this.$emit('input', this.formline)
    },
  },
  methods: {
    newSubTotal() {
        let tt = this.formline.quatity * this.formline.unitPrice;
        this.formline.subTotal = this.$roundFloat(tt, 2);
    },
  }
}
</script>
