<template>
  <div class="mt-5">
    <b-table striped hover :items="list" :fields="fields" class="mt-3">
      <template v-slot:cell(id)="data">
      <!-- <template slot="id" slot-scope="data"> -->
      </template>
      <template v-slot:cell(date)="data">
        {{ data.value | moment('DD/MM/YYYY') }}
      </template>
      <template v-slot:cell(isCharged)="data">
        {{ data.value | yesNo }}
      </template>
      <template v-slot:cell(isTaxable)="data">
        {{ data.value | yesNo }}
      </template>
      <template v-slot:cell(taxes_included)="data">
        {{ data.value | yesNo }}
      </template>
      <template v-slot:cell(actions)="data">
        <a href="#" @click="deleteline(data.item.id)" v-if="!showOptionsLine">Supprimer</a>
        <edit-invoice-line :dataline="data.item" @send="getList" v-if="!showOptionsLine"></edit-invoice-line>
      </template>
    </b-table>
  </div>
</template>
<script>
import EditInvoiceLine from './edit'
export default {
  name: 'invoice-line-list',
  components: {
    EditInvoiceLine,
  },
  props: {
    invoideid: {
      required: true,
      type: [Number, String],
    },
    isAccepted: {
      type: [Boolean, Number, String],
      default: false
    },
    isPaid: {
      type: [Boolean, Number, String],
      default: false
    },
  },
  data() {
    return {
      fields: [
        // {label: '#', key: 'id', sortable: false},
        {label: 'Date', key: 'date', sortable: true},
        // {label: 'Facturé', key: 'isCharged'},
        {label: 'Description', key: 'description', sortable: true},
        {label: 'Quantité', key: 'quatity', sortable: true},
        {label: 'Prix unitaire', key: 'unit_price', sortable: true},
        // {label: "Type d'escompte", key: 'discount_type', sortable: true},
        // {label: "Mode d'escompte", key: 'discount_mode', sortable: true},
        // {label: 'Escompte', key: 'discount', sortable: true},
        // {label: 'Taxable', key: 'isTaxable', sortable: true},
        // {label: 'Taxes incluses', key: 'taxes_included', sortable: true},
        // {label: 'Taxe', key: 'taxe', sortable: true},
        {label: 'Sous-total', key: 'sub_total', sortable: true},
        {label: 'Actions', key: 'actions', sortable: false}],
      list: [],
    };
  },
  mounted() {
    this.getList();
  },
  computed: {
    isAcceptedComp() {
      if (typeof this.isAccepted === 'boolean') {
        return this.isAccepted;
      } else if (typeof this.isAccepted === 'number') {
        return this.isAccepted === 1;
      } else if (typeof this.isAccepted === 'string') {
        return this.isAccepted === '1';
      }
      return false;
    },
    isPaidComp() {
      if (typeof this.isPaid === 'boolean') {
        return this.isPaid;
      } else if (typeof this.isPaid === 'number') {
        return this.isPaid === 1;
      } else if (typeof this.isPaid === 'string') {
        return this.isPaid === '1';
      }
      return false;
    },
    showOptionsLine() {
      return (this.isAcceptedComp || this.isPaidComp);
    }
  },
  methods: {
    getList() {
      axios.get('/invoice/line?invoice=' + this.invoideid).then(response => {
        this.list = response.data
      }).catch(error => { console.error(error); });
    },
    deleteline(id) {
      axios.delete('/invoice/line/' + id + '?invoice=' + this.invoideid).then(response => {
        this.getList();
        location.reload();
      }).catch(error => { console.error(error); });
    },
  }
}
</script>
