<template>
  <div>
    <b-button v-b-modal.newline id="btn-newline" variant="info">Ajouter une ligne</b-button>

    <b-popover
    target="btn-newline"
    triggers="hover"
    :delay="{ show: 800, hide: 100 }">
      Ajouter une ligne
    </b-popover>

    <b-modal id="newline"
    ref="newline"
    title="Ajouter une ligne"
    size="lg"
    centered
    @hidden="resetModal"
    @ok="onCreate"
    >
      <form-line v-model="newline"></form-line>
    </b-modal>
  </div>
</template>

<script>
import formLine from './form'

export default {
  name: "new-invoice-line",
  components: {
    formLine,
  },
  props: {
    invoideid: {
      required: true,
      type: [Number, String],
    }
  },
  data() {
    return {
      newline: {
        invoiceId: this.invoideid,
        date: '',
        // isCharged: false,
        description: '',
        quatity: 0,
        unitPrice: 0.00,
        discountType: '%',
        discountMode: '<',
        discount: 0.00,
        // isTaxable: false,
        // taxesIncluded: false,
        // taxe: 0.0,
        subTotal: 0.0,
      }
    };
  },
  methods: {
    resetModal() {
      this.newline.date = '';
      // this.newline.isCharged = false;
      this.newline.description = '';
      this.newline.quatity = 0;
      this.newline.unitPrice = 0.00;
      this.newline.discountType = '%';
      this.newline.discountMode = '<';
      this.newline.discount = 0.00;
      this.newline.isTaxable = false;
      this.newline.taxesIncluded = false;
      this.newline.subTotal = 0.00;
      this.newline.taxe = 0.00;
    },
    onCreate(bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault();
      axios.post('/invoice/line', this.newline).then(response => {
        this.$nextTick(() => {
          this.$refs.newline.hide()
          // this.$bvToast.toast('Ligne ajouter', {
          //   title: 'Succès',
          //   autoHideDelay: 1000,
          //   appendToast: false,
          //   variant: 'success',
          //   solid: true
          // });
        });
        location.reload();
        this.$emit('send');
      }).catch(error => {
        return
      });
    },
  }
}
</script>
<style lang="scss" scoped>
</style>
