body.light {
  .btn-primary {
    color: $white;
    background-color: $primary-light;
    border-color: $primary-light;
  }
  .btn-secondary {
    color: $white;
    background-color: $secondary-light;
    border-color: $secondary-light;
  }
}
