$card-bg-light: $grey;
$card-cap-bg-light: $green;
$card-header-color-light: $white;

body.light {
  .card {
    background-color: $card-bg-light;
  }
  .card-header, .card-footer {
    background-color: $secondary-light;
    color: $card-header-color-light;
  }
}
