$placeholder-text-light: $grey-AD;
$input-bg-light: $black;
$input-disabled-bg-light: $grey;

$input-color-light: $white;
$input-border-color-light: $secondary-light;
$input-focus-border-color-light: $primary-light;
$input-placeholder-color-light: $placeholder-text-light;
$input-group-addon-bg-light: $primary-light;

body.light {
  .form-control {
    background-color: $input-bg-light;
    border-color: $input-border-color-light;
    color: $input-color-light;
    &::placeholder {
      color: $input-placeholder-color-light;
    }
    &:focus {
      border-color: $input-focus-border-color-light;
    }
  }
  .input-group-text {
    color: $input-color-light;
    background-color: $primary-light;
    border-color: $input-border-color-light;
  }
  .custom-control-label {
    &::before {
      background-color: $input-bg-light;
      border-color: $input-border-color-light;
    }
  }
  .custom-control-input:checked ~ .custom-control-label::before {
    color: $grey-AD;
    border-color: $primary-light;
    background-color: $primary-light;
  }
  .custom-checkbox {
    .custom-control-input:indeterminate ~ .custom-control-label {
      &::before {
        border-color: $primary-light;
        @include gradient-bg($primary-light, $grey-AD);
      }
    }

    .custom-control-input:disabled {
      &:checked ~ .custom-control-label::before {
        @include gradient-bg(rgba($primary-light, .5), $grey-AD);
      }
      &:indeterminate ~ .custom-control-label::before {
        @include gradient-bg(rgba($primary-light, .5), $grey-AD);
      }
    }
  }
  .custom-select {
    color: $input-color-light;
    background-color: $input-bg-light;
    border-color: $input-border-color-light;
  }
}
