$modal-content-bg-light: $secondary-light;
$modal-header-border-color-light: $primary-light;
$modal-content-color-light: $white;

$close-color-light: $white;

body.light {
  .modal-content {
    background-color: $modal-content-bg-light;
    color: $modal-content-color-light;
  }
  .modal-header {
      &:not(&.border-transparent) {
        border-bottom-color: $modal-header-border-color-light;
      }
      &.border-transparent {
        border-bottom-color: transparent;
      }
  }
  .modal-footer {
    &:not(&.border-transparent) {
      border-top-color: $modal-header-border-color-light;
    }
    &.border-transparent {
      border-top-color: transparent;
    }
  }
  .close {
    color: $close-color-light;
  }
}
