$table-border-color-light: $secondary-light;
$table-text-color-light: $grey-AD;

body.light {
  .table {
    color: $table-text-color-light;
    border-color:$table-border-color-light;
    thead {
      border-bottom-color:$table-border-color-light;
      th.imortant:not(:last-child) {
        border-right-color:$table-border-color-light;
      }
      th.imortant:not(:first-child) {
        border-left-color:$table-border-color-light;
      }
    }
    tbody {
      tr {
        &:hover {
          box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
          td {
            color: $table-text-color-dark;
          }
        }
        &:not(&:last-child) {
          border-right-color: $table-border-color-light;
        }
      }
    }
  }
}
