<template>
  <div>
    <b-button @click="showModal">+</b-button>
    <b-modal ref="newService" centered ok-title="Créer" cancel-title="Annuler" title="Nouveau service" @ok="create">
      <b-form-input v-model="serviceName" type="text" placeholder="Nom du service" v-validate="'required'" name="name" data-vv-as="Nom du service"></b-form-input>
      <span>{{ errors.first('name') }}</span>
    </b-modal>
  </div>
</template>
<script>
export default {
  name: 'service-create',
  data: () => ({
    serviceName: '',
  }),
  methods: {
    showModal() {
      this.$refs.newService.show()
    },
    hideModal() {
      this.$refs.newService.hide()
    },
    create(evt) {
      evt.preventDefault()
      this.$validator.validate().then(valid => {
        if (valid) {
          axios.post('/service', {name: this.serviceName}).then(repsonse => {
            this.hideModal()
            location.reload();
          }).catch(error => {
            console.error(error);
          });
        } else {
          return;
        }
      });
    }
  }
}
</script>
<style lang="scss" scoped>
</style>
