.btn {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: normal;
  padding: 4px 16px;
  min-height: 32px;
}
.btn-new {
  display: inline-flex;
  align-items:center;
  min-width: 56px;
  padding: 1px 12px 1px 9px;
  text-transform: inherit;
  > i {
    font-size: 20px;
  }
}
.btn-invoices-reset {
  margin-top: 2rem;
}
