.infos-bar {
  padding: 0.1rem 1rem;
  margin-bottom: 2rem;
  .infos {
    display: flex;
    justify-content: space-between;
    .menu, .user, .profits {
      width: 33.33%;
      flex: 0 0 33.33%;
    }
    .menu {
      display: flex;
      align-items: center;
      font-size: 1rem;
      > .dropdown {
        padding-right: 1rem;
        cursor: pointer;
        > .btn-secondary {
          border: none;
        }
      }
      .item {
        display: table;
        height: 100%;
        &:hover {
          text-decoration: none;
        }
        > * {
          vertical-align: middle;
          display: table-cell;
        }
        padding-left: 1rem;
        padding-right: 1rem;
      }
      .divider {
        border-right-width: 1px;
        border-right-style: solid;
        margin-left: 1rem;
        margin-right: 1rem;
        height: 100%;
      }
    }
    .user {
      text-align: center;
    }
    .profits {
      text-align: left;
    }
  }
  .dropdown-menu {
    button.dropdown-item {
      padding: 0;
    }
  }
}
