#app {
    height: 100%;
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
}

#profile {
    .card {
        width: 50%;
        margin: auto;
    }
}

#logout-link {
    margin-right: 1rem;
}

textarea {
    resize: none;
}

.fixed-bottom-right {
    position: fixed;
    bottom: 0;
    right: 0;
}
a {
    font-weight: bold;
}
