.table {
    overflow-x: auto;
    border-radius: 2px;
    border-style: solid;

    thead {
        border-bottom-width: 2px;
        border-bottom-style: solid;

        th {
            border-bottom: none;
            border-top: none;
            font-weight: bold;
            text-align: left;
            text-transform: uppercase;
        }

        th.imortant:not(:last-child) {
            border-right-width: 1px;
            border-right-style: solid;
        }

        th.imortant:not(:first-child) {
            border-left-width: 1px;
            border-left-style: solid;
        }
    }

    tbody {
        tr {
            margin: 0.5rem 0;
        }

        tr {
            border-bottom: none;
            border-top: none;

            &:not(&:last-child) {
                border-right-width: 1px;
                border-right-style: solid;
            }

            .number {
                text-align: right;
            }
        }
    }
}
