// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.825rem;
$line-height-base: 1.6;

$font-family-base: 'Nunito', sans-serif;

// Modal
$close-text-shadow:none;

$border-radius: 2px;
