<template>
  <span>
    <b-button variant="danger" @click="showModal()">Supprimer</b-button>
    <b-modal id="modal-1"
    cancel-title="Non"
    ok-title="Oui"
    ok-variant="danger"
    title="Suppression"
    header-border-variant="transparent"
    footer-border-variant="transparent"
    centered
    @ok="onDelete()"
    >
      <div class="d-block">Voulez-vous vraiment supprimer ?</div>
    </b-modal>
  </span>
</template>

<script>
export default {
    name: "DeleteButton",
    methods: {
      showModal() {
        this.$root.$emit('bv::show::modal', 'modal-1', '#btnShow')
      },
      onDelete() {
          document.del_form.submit();
      }
    },
}
</script>
