<template>
    <b-dropdown size="sm" :text="userName">
      <b-dropdown-item :href="'/profil/' + userId + '/edit'">Profil</b-dropdown-item>
      <b-dropdown-item @click="onLogout()">Déconnexion</b-dropdown-item>
    </b-dropdown>
</template>

<script>
export default {
    name: "DropdownProfile",
    props: {
        userName: {
            type: String,
            require: true
        },
        userId: {
            type: String,
            require: true
        },
    },
    methods: {
        onLogout() {
            document.logout.submit();
        }
    },
}
</script>
