body.dark {
  .btn-primary {
    color: $white;
    background-color: $primary-dark;
    border-color: $primary-dark;
  }
  .btn-secondary,
  .btn-new {
    color: $white;
    background-color: $secondary-dark;
    border-color: $secondary-dark;
  }
  .btn-info {
    background-color: $info-dark;
    border-color: $info-dark;
  }
  .btn-danger {
    background-color: $danger-dark;
    border-color: $danger-dark;
  }
}
