$card-bg-dark: $body-background-color-dark;
$card-cap-bg-dark: $green;
$card-header-color-dark: $white;

body.dark {
  .card {
    background-color: $card-bg-dark;
    border-color: $secondary-dark;
  }
  .card-header, .card-footer {
    background-color: $secondary-dark;
    color: $card-header-color-dark;
  }
}
