$placeholder-text-dark: $white;
$input-bg-dark: $secondary-dark;
// $input-disabled-bg: $grey;

$input-color-dark: $white;
// $input-border-color-dark: $secondary-dark;
$input-border-color-dark: $border-color-dark;
$input-focus-border-color-dark: $primary-dark;
$input-placeholder-color-dark: $placeholder-text-dark;
$input-group-addon-bg-dark: $primary-dark;

body.dark {
  .form-control {
    background-color: $input-bg-dark;
    border-color: $input-border-color-dark;
    color: $input-color-dark;
    &::placeholder {
      color: $input-placeholder-color-dark;
    }
    &:focus {
      border-color: $input-focus-border-color-dark;
    }
  }
  .input-group-text {
    color: $input-color-dark;
    background-color: $primary-dark;
    border-color: $input-border-color-dark;
  }
  .custom-control-label {
    &::before {
      background-color: $input-bg-dark;
      border-color: $input-border-color-dark;
    }
  }
  .custom-control-input:checked ~ .custom-control-label::before {
    color: $grey-AD;
    border-color: $primary-dark;
    background-color: $primary-dark;
  }
  .custom-checkbox {
    .custom-control-input:indeterminate ~ .custom-control-label {
      &::before {
        border-color: $primary-dark;
        @include gradient-bg($primary-dark, $grey-AD);
      }
    }

    .custom-control-input:disabled {
      &:checked ~ .custom-control-label::before {
        @include gradient-bg(rgba($primary-dark, .5), $grey-AD);
      }
      &:indeterminate ~ .custom-control-label::before {
        @include gradient-bg(rgba($primary-dark, .5), $grey-AD);
      }
    }
  }
  .custom-select {
    color: $input-color-dark;
    background-color: $input-bg-dark;
    border-color: $input-border-color-dark;
  }

  .input-group-append > .btn.btn-secondary,
  .input-group-prepend > .btn.btn-secondary {
    border-top-color: $input-border-color-dark;
    border-bottom-color: $input-border-color-dark;
  }
  .input-group-append > .btn.btn-secondary {
    border-right-color: $input-border-color-dark;
  }
  .input-group-prepend > .btn.btn-secondary {
    border-left-color: $input-border-color-dark;
  }
}
