body.dark {
  .infos-bar {
    background-color: $infos-bar-background-color-dark;
    .infos {
      .menu {
        > .dropdown {
          > .btn-secondary {
            background-color: $infos-bar-background-color-dark;
            color: $grey-AD;
          }
        }
        .item {
          &:hover {
            background-color: $grey-48;
          }
        }
        .divider {
          border-right-color: $grey-AD;
        }
      }
      > .btn-group > .btn {
        color: $grey-AD;
      }
      > #dropdownMenuButton > .btn-secondary {
        background-color: transparent;
        border-color: transparent;
      }
    }
    .dropdown-menu {
      background-color: $infos-bar-background-color-dark;
      color: $grey-AD;
      .dropdown-item {
        background-color: $infos-bar-background-color-dark;
        color: $grey-AD;
        &:hover {
          color: $green;
        }
        &.active {
          color: $green;
          &:hover {
            color: $green;
          }
        }
      }
    }
    .dropdown-item {color: $green;}
    .dropdown-divider {border-color: $green;}
  }
}
