$modal-content-bg-dark: $secondary-dark;
$modal-header-border-color-dark: $primary-dark;
$modal-content-color-dark: $white;

$close-color-dark: $white;

body.dark {
  .modal-content {
    background-color: $modal-content-bg-dark;
    color: $modal-content-color-dark;
  }
  .modal-header {
    &:not(&.border-transparent) {
      border-bottom-color: $modal-header-border-color-dark;
    }
    &.border-transparent {
      border-bottom-color: transparent;
    }
  }
  .modal-footer {
    &:not(&.border-transparent) {
      border-top-color: $modal-header-border-color-dark;
    }
    &.border-transparent {
      border-top-color: transparent;
    }
  }
  .close {
    color: $close-color-dark;
  }
}
