$table-border-color-dark: $border-color-dark;
$table-text-color-dark: $white;
$table-background-color-hover: $secondary-dark;

body.dark {
  .table {
    color: $table-text-color-dark;
    border-color:$table-border-color-dark;
    thead {
      border-bottom-color:$table-border-color-dark;
      th.imortant:not(:last-child) {
        border-right-color:$table-border-color-dark;
      }
      th.imortant:not(:first-child) {
        border-left-color:$table-border-color-dark;
      }
    }
    th,
    td {
      border-top-color: $table-border-color-dark;
    }
    tbody {
      tr {
        &:hover {
          background-color: $table-background-color-hover;
          td {
            color: $table-text-color-dark;
          }
        }
        &:not(&:last-child) {
          border-right-color: $table-border-color-dark;
        }
      }
    }
  }
}
