$body-background-color-dark: #2C2C3B;
$infos-bar-background-color-dark: rgb(63, 63, 84);

$border-color-dark: #5E5C64;

$primary-dark: #559E55;
$secondary-dark:  rgb(63, 63, 84);
$info-dark: #5AA8E2;
$danger-dark: #F24949;
$warning-dark: #C8A958;
$purple-dark: #9073F0;
$pink-dark: #A347BA;
