.ed-card {
  padding: 0;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  .header, .footer {
    background-color: $bronw-2;
  }
  .card-header, .content, .card-footer {
    text-align: center;
  }

  .content {
    min-height: 100px;
  }

  .card-header {
    font-size: 5rem;
  }

  &:hover, .active {
    background-color: $orange;
    color: $black;
    a, a:hover {color: $black;}
    .card-header, .card-footer {
      background-color: $orange-2;
    }
  }
}
