.infos-bar {
  background-color: $infos-bar-background-color;
  padding: 0.1rem 1rem;
  margin-bottom: 2rem;
  .infos {
    display: flex;
    .menu, .user, .profits {
      width: 33.33%;
      flex: 0 0 33.33%;
    }
    .menu {
      display: flex;
      .dropdown {padding-right: 1rem;cursor: pointer;}
    }
    .user {
      text-align: center;
    }
    .profits {
      text-align: right;
    }
  }
  .dropdown-menu {
    background-color: $infos-bar-background-color;
    color: $orange;
    .dropdown-item:hover, .dropdown-item.active:hover {
      background-color: $orange;
      color: $black;
    }
    .dropdown-item.active {
      background-color: $orange-2;
      color: $black;
    }
  }
  .dropdown-item {color: $orange;}
  .dropdown-divider {border-color: $orange-2;}
}
