.table {
  overflow-x:auto;
  color: $orange;
  border: 2px solid $orange;
  thead {
    border-bottom: 2px solid $orange;
    th {
      border-bottom: none;
      border-top: none;
      color: $white;
      font-weight: bold;
      text-align: left;
      text-transform: uppercase;
    }
    th.imortant:not(:last-child) {
      border-right: 1px solid $orange-2;
    }
    th.imortant:not(:first-child) {
      border-left: 1px solid $orange-2;
    }
  }
  tbody {
    tr {
      margin: 0.5rem 0;
    }
    tr {
      border-bottom: none;
      border-top: none;
      &:not(&:last-child) {
        border-right: 1px solid $orange-2;
      }
      .number {text-align: right;}
    }
  }
}
