$enable-grid-classes: true;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$white: rgb(249, 249, 250);
$orange: hsl(26, 100%, 50%);
$orange-2: hsl(26, 100%, 40%);
// $orange-2: #e56100;
$bronw: hsl(24, 70%, 12%);
$bronw-2: hsl(24, 70%, 20%);
$grey: #333333;
$black: #000000;

$body-background-color: rgb(24, 24, 24);
$infos-bar-background-color: rgb(0, 0, 0);

// Bootstrap config
//
$primary: $orange;
$secondary: $bronw-2;
$light: $grey;
$enable-rounded: false;
$enable-shadows: false;
$body-bg: $body-background-color;
$body-color: $orange;

$font-family-base: 'Nunito', sans-serif;

// card
$card-bg: $bronw;
$card-cap-bg: $bronw-2;

// Input form
$input-bg: $bronw;
// $input-bg: $body-background-color;
$input-disabled-bg: $grey;

$input-color: $primary;
$input-border-color: $orange-2;
$input-focus-border-color: $primary;
$input-placeholder-color:$orange-2;
$input-group-addon-bg: $bronw-2;

// Modal
$modal-content-bg: $body-background-color;
$modal-header-border-color: $orange-2;

$close-color: $orange;
$close-text-shadow:none;
